body{
  background-color: black;
  font-family: sans-serif;
}

.main-con{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 80px;
}

#main-1{
  background-color: #f4a261;
  width: 50%;
  height: 70vh;
  border-radius: 10px;
}

#main-2{
  background-color: #2a9d8f;
  width: 50%;
  height:70vh ;
}

#main-3{
  background-color: #588157;
  width: 50%;
  height: 70vh;
  border-radius: 10px;
}

.button-1{
  padding: 10px;
  margin-left: 20px;
  margin-top: 100px;
  border-radius: 15px;
  border: 1px;
  color: #f4a261;
}

.button-2{
  padding: 10px;
  margin-left: 20px;
  margin-top: 60px;
  border-radius: 15px;
  border: 1px;
  color: #2a9d8f;
}

.button-3{
  padding: 10px;
  margin-left: 20px;
  margin-top: 25px;
  border-radius: 15px;
  border: 1px;
  color: #588157;
}

button:hover {
  box-shadow: inset -3px --3px 7px #ffffffb0, inset 3px 3px 5px
  rgba(94, 104, 121, 0.692);
}

img{
width: 80px;

margin-left: 150px;
margin-top: 10px;
border-radius: 5px;
}

h1{
  text-align: center;
}

p{
  padding: 10px;
  text-align: center;
  letter-spacing: 2px;
}

a{
  text-decoration: none;
}





